.App {
  text-align: justify;
  
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #09d3ac;
}

body {
  background-color: mediumpurple!important;
}

.page-header {
  text-align: center;
  background-color:orange!important;
  
}

.div-widget1 {
   
  margin: 30px;
  width: 45%;
}

.div-widget2 {
  margin: 30px;
  width: 45%;
}




