
/*@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
}*/

.App {
  text-align: justify;
  
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #09d3ac;

}

body {
  background-color: mediumpurple!important;

}

.div-header {
  background-color:orange!important;
  position: sticky-top;
  
}



.container {
  justify-content: space-around;
  margin-block: 15px;
  
  
}

.row {
  margin-block: 15px;
}

.button-switch-page {
  border-color: black;
  background-color: coral;
  flood-opacity: 25%;
  

}





